*,
*::before,
*::after{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.body{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
 
}

.main-container > * {
    border: solid 5px red;

}
header>*{
    border: solid 2px red;
}


/* The main grid for our website */
.main-container{
     width:100vw;
    height: 100vh;

    display: grid;

    grid-template-columns: 300px 2fr;
    grid-template-rows: 200px 2fr;
}

/* Next three parts are for placing our sections in the area they need to go.
and apparently also making them into grids layouts.  */
.side-nav{
    grid-column: 1/2;
    grid-row: 1/3;



    background-color: #1992d4;
    color: white;
}
header{
    /* These are to set the location of element to its parent */
    grid-column: 2/3;
    grid-row: 1/2;


    /* This is to make this element an item for its own children */
    display: grid;

    grid-template-columns: 1fr 300px;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
}

.main-content{
    grid-column: 2/3;
    grid-row: 2/3;
}



/* right selector but its not moving the location of the text. Look into further */
/* .search-bar-row:last-child{

    justify-content: end;
} */


/* Now im working on each section individually */



/* FOR OUR NAV SECTION*/
ul li{

    /* border: solid 2px green; */
    list-style-type: none;
}

.navs{
    font-size: 1.5rem;
    font-weight: bold;
    margin-left: 20px;

    display: grid;
    grid-auto-flow: row;
    grid-template-rows: 75px repeat(6, 45px) 50px repeat(3,45px);
    justify-content: center;


}
.nav-label{
   font-size: 2rem; 
   font-weight: bold;
}




/* FOR OUR HEADER */
.search-bar-row{
    grid-column: 1/3;
    grid-row: 1/2;
    font-size: 1.5rem;


    display: grid;
    grid-template-columns: 1fr 500px;
   
}

input[type='text'] {
    width: 400px;
    height: 30px;
    margin: 20px 0px 0px 40px;
    border-radius: 10in;
}


.hello-sec{
    display: grid;
    grid-template-columns: 100px 1fr;
    justify-content: center;
    align-content: center;


     font-size: 1.5rem;
     font-weight: bold;
}

/* FOR OUR MAIN CONTENT AREA */
.main-content{
    background-color: #e2e8f0;
    display: grid;

    grid-template-columns: 1fr 400px 10px;
    grid-template-rows: 1fr 1fr 20px;

    gap: 20px;
    padding: 5px;
    padding-left: 20px;
}


/* creating a outline for my content items */
.deck-sec, .announcement-sec,.trending-sec{

    /* border: dotted purple 10px; */



}



.deck-sec{

    grid-row:1/3;
    display: grid;
    grid-template-rows: 30px 1fr;
    padding: 5px;
}
.announcement-sec{
    grid-column: 2/3;
    grid-row: 1/2;
}
.trending-sec{
    grid-column: 2/3;
    grid-row: 2/3;
}

/* .deck-sec:first-child{
    grid-area: title;
} */

.deck-content{
    
    display: grid;

    gap: 30px;
   

    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3fr);
}

/* used to create our items(decks) style */
.deck{
    border-left: solid gold 10px;
    border-radius: 5px;
    padding: 5px;
   
   


}

.deck, .announcements,.trending-content{


     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #ffffff;
    border-radius: 5px;
    padding: 5px;
}

/* Using this selector to change the title of every paragraph... Maybe an h1 or h3 would have been better. */
section >p{
    font-size: 1.5rem;
    font-weight: bold;
}





